
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.header {
    background-color: #ffffff;
    color: #333;
    width: 100%;
    padding: 40px 20px 20px;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.header::before {
    content: "";
    width: 100%;
    height: 70px;
    background-color: #333333;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.red-bar {
    width: 100%;
    height: 5px;
    background-color: #C00000;
    position: absolute;
    top: 70px;
    left: 0;
}

.header img {
    height: 80px;
    margin-top: 40px;
    margin-right: 20px;
    z-index: 1;
}

.header-text {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    z-index: 1;
}

.header-text h1 {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.header-text p {
    font-size: 1rem;
    margin-top: 5px;
    color: red;
}

.divider {
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #ccc, rgba(204, 204, 204, 0));
    margin: 5px 0;
}

.cyan-bar {
    width: 100%;
    height: 5px;
    background-color: #74ebd5;
    position: absolute;
    bottom: 0;
    left: 0;
}

.container {
background-color: #f9f9f9;
border-radius: 10px;
box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
width: 90%;
max-width: 320px;
margin-top: 60px; 
margin-bottom: 60px; 
padding: 20px;
position: relative;
min-height: 450px;
}


.login-header {
    background-color: #444;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-header img {
    height: 30px;
    margin-right: 5px;
}

.login-header span {
    font-size: 1.5rem;
    font-weight: bold;
    flex: 1;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 30px;
    background-color: #f1f1f1;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 1rem;
}

.form-group input:focus,
.form-group input:hover {
    border-color: #74ebd5;
    box-shadow: 0 0 8px rgba(116, 235, 213, 0.8);
}

.btn-submit {
background: #444;
color: white;
padding: 12px 20px;
border: none;
border-radius: 30px;
cursor: pointer;
font-weight: bold;
margin-top: 10px;
width: 100%;
transition: background-color 0.3s ease, transform 0.3s ease; 
font-size: 1rem;
}

.btn-submit:hover {
background: #333;
transform: translateY(-5px); 
}


.checkbox-group {
    margin: 15px 0;
    text-align: left;
}

.footer {
    margin-top: 20px;
    font-size: 0.8em;
    color: #777;
    text-align: center;
}

#grisFooter {
    position: absolute;
    left: 0;
    top: 76%;
    width: 100%;
    height: 15%;
    background-color: #9e9e9e; 
    border-top: 2px solid #333; 
    border-radius: 10px;
    padding: 20px;
    text-align: right; 
}

#grisFooter span {
    color: #000;
    font-family: 'gotham book';
    font-size: 14px;
}

#grisFooter a {
    color: #000;
    text-decoration: none;
}

#grisFooter a:hover {
    text-decoration: underline;
}

.header-logo-gob {
height: -200px; 
position: absolute;
top: -50px; 
right: 15px; 
z-index: 1;
}
#grisFooter a {
    color: white; 
    text-decoration: underline; 
    font-size: 16px; 
    transition: color 0.3s ease, text-shadow 0.3s ease; 
}

#grisFooter a:hover {
    color: #74ebd5; 
    text-shadow: 0 0 8px #74ebd5, 0 0 10px #74ebd5; 
}
#grisFooter a {
    color: white; 
    text-decoration: underline; 
    font-size: 16px; 
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

#grisFooter a:hover {
    color: #74ebd5; 
    text-shadow: 0 0 8px #74ebd5, 0 0 10px #74ebd5; 
}
#grisFooter a {
    color: white; 
    text-decoration: underline; 
    font-size: 16px; 
    transition: color 0.3s ease, text-shadow 0.3s ease; 
}

#grisFooter a:hover {
    color: #74ebd5; 
    text-shadow: 0 0 8px #74ebd5, 0 0 10px #74ebd5; 
}
#grisFooter a {
    color: white; 
    text-decoration: underline; 
    font-size: 16px; 
    transition: color 0.3s ease, text-shadow 0.3s ease; 
}

#grisFooter a:hover {
    color: #74ebd5; 
    text-shadow: 0 0 8px #74ebd5, 0 0 10px #74ebd5; 
}

.scroll-button {
    background-color: #74ebd5; 
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 40px; 
    left: 20px; 
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
    transition: left 0.3s ease; 
}

.scroll-button img {
    width: 20px; 
    height: 20px; 
    transition: transform 0.3s ease; 
}
@media (max-width: 768px) {
    #grisFooter, #pleca, #subFooterLink, #footerLinksCenter {
        display: none;
    }
}

.btn-submit {
    -webkit-tap-highlight-color: transparent; 
    outline: none; 
}
.btn-submit {
    user-select: none; 
}
